.Button{
    cursor: pointer;
    border: none;
    border-radius: 50px;
    padding: 10px 20px 10px 20px;
    font-size: 10px;
    white-space: nowrap;
    font-family: 'nanumsqure';
}

.Button_default{
    background-color: #ececec;
    color: #000;
    box-shadow: 2px 2px 2px rgba(75, 75, 75, 0.349);
}

.Button_positive{
    background-color: #64c964;
    color: #fff;
    box-shadow: 2px 2px 2px rgba(75, 75, 75, 0.349);
}

.Button_nagative{
    background-color: #fd565f;
    color: #fff;
    box-shadow: 2px 2px 2px rgba(75, 75, 75, 0.349);
}