.TodoEditor .editor_wrapper {
    width: 100%;
    display: flex;
    gap: 10px;
    
}

.TodoEditor input {
    flex: 1;
    box-sizing: border-box;
    border: 1px solid rgb(220, 220, 220);
    border-radius: 5px;
    padding: 15px;
    box-shadow: 1px 1px 3px #18181859;
}

.TodoEditor input:focus {
    outline: none;
    border: 1px solid #474c50;
}

.TodoEditor button {
    cursor: pointer;
    width: 80px;
    border: none;
    background-color: #7a3304;
    box-shadow: 1px 1px 5px #181818b7;
    color: white;
    border-radius: 5px;
}
